<div class="container">
  {{#if model.workers}}
  <h4>Your Workers</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>워커명</th>
          <th>최근해시량</th>
          <th>평균해시량</th>
          <th>최근활동</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in model.workers as |k v|}}
          <tr class="{{if v.offline "warning" "success"}}">
            <td>{{k}}</td>
            <td>{{format-hashrate v.hr}}</td>
            <td>{{format-hashrate v.hr2}}</td>
            <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{else}}
    <h3>마이너 없음</h3>
  {{/if}}
  <div class="alert alert-info" role="alert">
    <span class="sr-only">Notice:</span>
    해시량은 보내주신 해시가 인정(accpted)될때 풀에서 계산이 되기 시작합니다.<br/>
    최근해시량은 30분 이내의 통계이며, 평균해시량은 3시간 이내의 통계입니다.
  </div>
  <div class="alert alert-info" role="alert">
    <strong>마이너상태를 JSON API 형태로 지원합니다:</strong> <a href="/api/accounts/{{model.login}}">/api/accounts/{{model.login}}</a>
  </div>
</div>
