{{outlet 'error' }}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4 stats">
        <div style="display: block;">
          <i class="fa fa-cloud"></i> 적립예정수량: <span>{{format-balance model.stats.immature}}</span><br>
          <small>블럭이 확정되기를 기다리고 있습니다.</small>
        </div>
        <div style="display: block;">
          <i class="fa fa-bank"></i> 전송대기수량: <span>{{format-balance model.stats.balance}}</span><br>
          <small>출금최소수량이 넘으면 출금됩니다.</small>
        </div>
        {{#if model.stats.pending}}
        <div style="display: block;">
          <i class="fa fa-clock-o"></i> 현재출금중: <span>{{format-balance model.stats.pending}}</span><br>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-money"></i> 전체출금수량: <span>{{format-balance model.stats.paid}}</span></div>
      </div>
      <div class="col-md-4 stats">
        {{#if model.stats.lastShare}}
        <div style="display: block;"><i class="fa fa-clock-o"></i>
          최근 활동 시간: <span>{{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}</span>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-gears"></i> 작동중인 마이너수: <span>{{format-number model.workersOnline}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> 평균 해시량 (30분): <span>{{format-hashrate model.currentHashrate}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> 평균 해시량 (3시간): <span>{{format-hashrate model.hashrate}}</span></div>
      </div>
      <div class="col-md-4 stats">
        <div style="display: block;"><i class="fa fa-tachometer"></i> 블럭발견수: <span>{{format-number model.stats.blocksFound fallback='0'}}</span></div>
        <div style="display: block;"><i class="fa fa-paper-plane-o"></i> 전체출금수: <span>{{format-number model.paymentsTotal}}</span></div>
        <div style="display: block;">
          <i class="fa fa-gears"></i> 현재블럭작업비율: <span>{{format-number roundPercent style='percent' maximumFractionDigits='6'}}</span><br/>
          <small>이번 블럭 발견에 기여율로 책정할 %입니다.</small>
        </div>
        <div style="display: block;">
          <i class="fa fa-clock-o"></i>
          에폭 전환시기: <span>{{format-relative applicationController.nextEpoch units="hour"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='account.index' role='presentation'}}
      {{#link-to 'account.index'}}워커(마이너)상태 <span class="badge alert-danger">{{model.workersOffline}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}최근출금내역{{/link-to}}
    {{/active-li}}
  </ul>
</div>

{{outlet}}
