<div class="jumbotron">
  <div class="container">
    <strong>
      신규 블럭은 <u>최대</u> </strong> <span class="label label-success">120</span> <strong>블럭 이후 소비 가능합니다.
    </strong>
  </div>
</div>
<div class="container">
  {{#if model.luck}}
    {{partial "luck"}}
  {{/if}}
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='blocks.index' role='presentation'}}
      {{#link-to 'blocks.index'}}최근확정블록 <span class="badge alert-success">{{format-number model.maturedTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.immature' role='presentation'}}
      {{#link-to 'blocks.immature'}}확정예정 <span class="badge alert-success">{{format-number model.immatureTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.pending' role='presentation'}}
      {{#link-to 'blocks.pending'}}새 블록 <span class="badge alert-info">{{format-number model.candidatesTotal}}</span>{{/link-to}}
    {{/active-li}}
  </ul>
  {{outlet}}
</div>
