<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>ETSC Mining Pool</strong><img src="https://d1u5p3l4wpay3k.cloudfront.net/minecraft_gamepedia/5/54/Diamond_Pickaxe.png?version=7be4c19c93c23501cd7334f4178bd905" align="center" height="32">
        </h1>
        <strong>1 ETSC 이상 채굴시 분배됩니다.</strong><br/> 10분마다 자동으로 출금합니다.<br/>
        회원 가입이 필요없으며 <span class="label label-success">365</span>일 운영됩니다.<br/>
        <a href="http://gazua.tv" target="_blank">웹 지갑 준비중입니다.</a>
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> 연결된 마이너 수: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> 풀의 전체 해시량: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> 풀의 수수료: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> 최근 블럭 발견: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> 네트워크 전체 난이도: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> 네트워크 전체 해시량: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> 현재 블럭 높이: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> 전체 작업 효율: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="stats">
    <h4>마이너 상태 보기</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="여기에 ESC 주소를 입력하세요"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> 검색</span>
        </button>
      </span>
    </div>
  </div>
  <hr/>
  <div>
    <h4><strong>공지</strong></h4>
    <h4 class="note note-info text-left">
      <strong><li>No.1 ESC / ETSC  마이닝 풀 mineesc.com 방문을 환영합니다.</li></strong><br />
      <strong><li>(확정)150,000 블록에서 하드포크를 진행합니다. 포크 후 약 1000블록동안 1억개의 ETSC를 선 채굴합니다.</li></strong><br />
      <strong><li>(확정)선채굴 기간에 풀에서 채굴하시는 모든 분에게 10프로(1천만 ETSC)를 보상해 드렸습니다. 곧 확인 가능합니다.</li></strong><br />
      <strong><li>이더리움 소셜(ETSC)은 운영주체인 &nbsp;<a href="http://gall.dcinside.com/board/view/?id=bitcoins&no=4461654" target="_blank">유빗</a>으로부터 자유로워지기 위한 하드포크 코인입니다.</li></strong><br />
      <strong><li>이더리움 소셜 코인이 02월 13일자로 탄생하였습니다.</li></strong><br />
      <strong><li>코인에 대한 업데이트는 여기에 올라옵니다. 이더리움 소셜 게시판&nbsp;<a href="http://www.gazua.tv/post/ho" target="_blank">바로가기</a></li></strong>
    </h4>
  </div>
  <hr/>
  <div>
    <h4>Claymore dual miner 구성</h4>
    <h4 class="note note-info text-center">
      EthDcrMiner64.exe -epool {{config.StratumHost}}:<a href="https://mineesc.com/#/help/port" target="_blank">&lt;포트번호&gt;</a> -esm 0 -ewal &lt;지갑주소&gt; -eworker &lt;워커&gt; -allcoins 1 -allpools 1
    </h4>
  </div>
  <hr/>
  <div>
    <h4>Ethminer 구성</h4>
    <h4 class="note note-info text-center">
      ethminer.exe -F {{config.HttpHost}}:<a href="https://mineesc.com/#/help/port" target="_blank">&lt;포트번호&gt;</a>/&lt;지갑주소&gt;/&lt;워커&gt; -G
    </h4>
  </div>
</div>
