<div class="jumbotron">
  <div class="container">
    <p class="lead">풀의 전체 해시량: {{format-hashrate model.hashrate}}.</p>
    <strong>풀의 전체 마이너 수:</strong> <span class="label label-info">{{model.minersTotal}}</span>
  </div>
</div>
<div class="container">
  {{#if model.miners}}
  <h4>마이너</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>지갑주소</th>
          <th>해시량</th>
          <th>최근활동</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.miners as |m|}}
        <tr class="{{if m.offline "warning"}}">
          <td>{{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}</td>
          <td>{{format-hashrate m.hr}}</td>
          <td>{{format-date-locale m.lastBeat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>마이너 없음 ㅠㅠ</h3>
  {{/if}}
</div>
