<div class="jumbotron">
  <div class="container">
    <strong>전체 출금 건수:</strong> <span class="label label-info">{{model.paymentsTotal}}</span>
  </div>
</div>
<div class="container">
  {{#if model.payments}}
  <h4>최근 출금내역</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>출금시각</th>
          <th>수량</th>
          <th>받는분주소</th>
          <th>거래 ID</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>{{format-number tx.formatAmount}}</td>
            <td>
              <a href="https://escblock.gonsmine.com/addr/{{tx.address}}" class="hash" rel="nofollow" target="_blank">{{tx.address}}</a>
            </td>
            <td>
              <a href="https://escblock.gonsmine.com/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{format-tx tx.tx}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>거래 내역 없음</h3>
  {{/if}}
</div>
